
// Vars
@import "../../../styles/settings/_colors-vars.scss";
@import "../../../styles/settings/generic_vars.scss";

// Tools
@import "../../../styles/tools/px-to-rem";

/* generics */
@import '../../../styles/generics/normalize';

/* elements */
@import '../../../styles/elements/elements';

.button{
    font-family: $alternative-font-family;
    font-size: rem(20);
    padding: 14px;
    border: none;
    border-radius: $border-radius;
    box-shadow: 2px 2px 9px 0px rgba($black02, 0.5);
    cursor: pointer;

    &--yellow{
        background-color:  $yellow00;
    }
}