
.u-text-italic{
    font-style: italic!important;
}

.u-font-family--MedievalSharp{
    font-family: $base-font-family!important;
}

.u-font-family--noto{
    font-family: $alternative-font-family!important;
}

.u-font-family--emoji{
    font-family: $emoji-font-family!important;
}


.u-text--s{
    font-size: $size--s!important;
}

.u-text--xs{
    font-size: $size--xs!important;
}