
@import "../../../styles/styles.scss";

:host{
    font-family: $alternative-font-family;
    font-size: rem(18px);
    display: grid;
    .input{
        &__label{
            margin-bottom: rem(10px);
            
        }
        &__field{
            background-color: $brown01;
            border: 1px solid $brown02;
            padding: 16px 12px 16px;
            border-radius: $border-radius;

            &:focus, &:focus-visible, &:focus-within{
                outline-color: $yellow00;
            }

            &::placeholder{
                color: $black00;
            }
        }
    }

    // I must create error component in the future.
    .text--error{
        margin-top: 5px;
        color: $red00;
    }
    
}