$base-font-size: 16px;
$base-font-family: 'MedievalSharp', cursive;
$alternative-font-family: 'Noto Sans Mono', monospace;
$emoji-font-family: 'Segoe UI Emoji';
// font-family: 'MedievalSharp', cursive;
// font-family: 'Noto Sans Mono', monospace;

/*------------------------------------*\
* CONTAINER
\*------------------------------------*/
$gutter: 1rem;

/*------------------------------------*\
* COLUMNS
\*------------------------------------*/
$columns-number: 12;

/*------------------------------------*\
* BORDERS
\*------------------------------------*/
$border-radius: 7px;